body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #dcdcdc;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-size: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin-bottom: 20px;
}
input {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cce2f3;
    border-radius: 8px;
    background-color: #edf5fc;
    font-size: 16px;
    outline: none;
}
button {
    background-color: #79d2ec;
    color: black;
    border: 1px solid #5cb8d2;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #5bc0de;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

#bmiValue {
    font-size: 14px;
    margin-bottom: 5px;
}
